%btn {
  padding: 10px 23px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.container {
  padding: 0 140px;
  .header {
    .header__nav {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      .header__nav_logo {
        display: flex;
        align-items: center;
        gap: 15px;
        p {
          font-size: 30px;
          font-weight: 700;
        }
      }
      .header__nav__link {
        display: flex;
        align-items: center;
        gap: 15px;
        .fa-bars {
          color: #fff;
          font-size: 20px;
          display: none;
        }
        ul {
          display: flex;
          gap: 15px;
          li {
            a {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
        .nav__btn-1 {
          @extend %btn;
          background: transparent;
          border: 1px solid #bcd0e5;
        }
        .nav__btn-2 {
          @extend %btn;
          background: #02897a;
          border: none;
        }
      }
    }
    .header__items {
      margin-top: 50px;
      h3 {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        text-align: center;
      }
      h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
      }
      p {
        text-align: center;
        font-weight: 500;
      }
      .header__items__boxs {
        display: flex;
        margin-top: 45px;
        gap: 50px;
        justify-content: space-between;
        .header__items__box-1,
        .header__items__box-3 {
          background: #fff;
          padding: 24px 54px;
          display: flex;
          gap: 16px;
          border-radius: 5px;
          flex-direction: column;
          p,
          h3,
          h2 {
            color: #22343d;
            font-size: 22px;
            font-weight: 500;
          }
          span {
            color: gray;
          }
          .box {
            display: flex;
            align-items: center;
            h2 {
              font-size: 76px;
              color: #02897a;
              font-weight: 24px;
              font-weight: 700;
            }
            div {
              h3 {
                color: #02897a;
                font-size: 24px;
              }
            }
          }
          button {
            background: #02897a;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            border: none;
            padding: 11px 19px;
            border-radius: 8px;
          }
        }
        .header__items__box-2 {
          background: #02897a;
          padding: 24px 54px;
          display: flex;
          gap: 16px;
          border-radius: 5px;
          flex-direction: column;
          p,
          h3,
          h2 {
            color: #fff;
            font-size: 22px;
            font-weight: 500;
          }
          span {
            color: gray;
          }
          .box {
            display: flex;
            align-items: center;
            h2 {
              font-size: 76px;
              color: #ffffff;
              font-weight: 24px;
              font-weight: 700;
            }
            div {
              h3 {
                color: #ffffff;
                font-size: 24px;
              }
            }
          }
          button {
            background: #ffff;
            font-size: 18px;
            color: #02897a;
            font-weight: 600;
            border: none;
            padding: 11px 19px;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  .container {
    padding: 0 90px;
    .header {
      .header__items {
        .header__items__boxs {
          gap: 12px;
          .header__items__box-1,
          .header__items__box-2,
          .header__items__box-3 {
            padding: 20px 45px;
            gap: 10px;
          }
        }
       
      }
    }
  }
}
@media (min-width:770px) and (max-width:989px){
    .container{
        padding: 0 60px;
        .header{
.header__nav{
    .header__nav__link{
        ul,
        .nav__btn-1,
        .nav__btn-2,
        img{
            display: none;
          
        }
        .fa-bars{
            display: block;
        }
    }
}
.header__items{
    gap:3px;
    .header__items__boxs{
        gap:10px;
        .header__items__box-1, .header__items__box-2, .header__items__box-3{
            padding: 15px 30px;
            gap: 8px;
            p, h2, h3 {
                font-size: 15px;
            }
            button{
                font-size: 13px;
                padding: 8px 15px;
            }
        }
    }
}
        }
    }
}
@media (min-width:447px) and (max-width:769px){
    .container{
        padding: 0 30px;
        .header{
.header__nav{
    .header__nav__link{
        ul,
        .nav__btn-1,
        .nav__btn-2,
        img{
            display: none;
          
        }
        .fa-bars{
            display: block;
        }
    }
}
.header__items{
    gap:3px;
    .header__items__boxs{
        gap:10px;
        .header__items__box-1, .header__items__box-2, .header__items__box-3{
            padding: 15px 30px;
            gap: 8px;
            p, h2, h3, span{
                font-size: 5px;
            }
            .box{
             h2{
                font-size: 30px;
             }
             div{
                h3{
                    font-size: 14px;
                }
             }
            }
            button{
                font-size: 8px;
                padding: 5px 10px;
            }
        }
    }
}
        }
    }
}
@media (max-width:447px) {
    .container{
        padding: 0 10px;
        .header{
.header__nav{
    padding: 10px 0;
    .header__nav_logo{
        p{
            font-size: 25px;
        }
        img{
            width: 30px;
        }
    }
    .header__nav__link{
        ul,
        .nav__btn-1,
        .nav__btn-2,
        img{
            display: none;
          
        }
        .fa-bars{
            display: block;
        }
    }
}
.header__items{
    margin-top:10px ;
    gap:3px;
    h2{
        font-size: 18px;
        font-weight: 600;
    }
        h3{
            font-size: 15px;
        }
        p{
            font-size: 10px;
        }
    .header__items__boxs{
        gap:10px;
        margin-top: 15px;
       
        .header__items__box-1, .header__items__box-2, .header__items__box-3{
            padding: 10px 15px;
            gap: 3px;
            p, h2, h3, span{
                font-size: 5px;
            }
            .box{
             h2{
                font-size: 20px;
             }
             div{
                h3{
                    font-size: 9px;
                }
             }
            }
            button{
                font-size: 7px;
                padding: 5px 10px;
            }
        }
    }
}
        }
    }
}
